/**
 * Design by George Martsoukos
 * http://codepen.io/SitePoint/pen/bEvVqP
 */

div.flexbox-gallery {
  display: flex;
  flex-wrap: wrap;

  a {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(100);
    margin-right: 8px;
    text-decoration: none;
    color: black;

    &:hover img {
      transform: scale(1.15);
    }

    figure {
      margin: 0;
      overflow: hidden;

      figcaption {
        margin-top: 15px;
      }

      img {
        border: none;
        max-width: 100%;
        height: auto;
        display: block;
        background: #ccc;
        transition: transform .2s ease-in-out;
      }
    }
  }

  
  @media screen and (min-width: 25em) {
    a {
      display: inline-block;
      margin-bottom: 8px;
      width: calc(50% - 4px);
      margin-right: 8px;
      text-decoration: none;
      color: black;
    }

    a:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 50em) {
    a {
      width: calc(25% - 6px);
    }
    
    a:nth-of-type(2n) {
      margin-right: 8px;
    }
    
    a:nth-of-type(4n) {
      margin-right: 0;
    }
  }

}
