.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #fff;
  background-color: #000;
}

.navbar {
  border: 0;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  margin-bottom: 0px !important;
}

.navbar-transparent {
  color: #fff;
  background: transparent;
  border: 0;

  .navbar-nav > li > a,
  .navbar-brand {
    color: #fff;
    &:focus, &:hover {
      color: #fff;
    }
  }

  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
}

#react-root {
  margin-top: 80px;
}
